.App {
  text-align: center;
}

.Open-Sans{
  font-family: 'Open Sans', sans-serif;
}

.Srisakdi{
  font-family: 'Srisakdi', cursive;
}

.Dancing-Script{
  font-family: 'Dancing Script', cursive;
}

.Courgette{
  font-family: 'Courgette', cursive;
}

.Marck-Script{
  font-family: 'Marck Script', cursive;
}

.Tangerine{
  font-family: 'Tangerine', cursive;
  font-size: 2rem
}

.header{
  color:#ff9800
}

.ggreen{
  background-color: #76ff03
}

.bblue{
  background-color: #e040fb
}
